{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": false,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "embeddedLanguageFormatting": "auto",
    "requirePragma": false
}
