/// Display part of an element, using a selected image as a mask.
/// Apply both the vendor-prefixed and unprefixed style.
@mixin mask($svg) {
    -webkit-mask: url('data:image/svg+xml;base64,#{$svg}');
    mask: url('data:image/svg+xml;base64,#{$svg}');
}

/// Specify the size of the mask image.
@mixin mask-size($val) {
    -webkit-mask-size: $val;
    mask-size: $val;
}

/// Set the initial position for a mask image.
@mixin mask-position($val) {
    -webkit-mask-position: $val;
    mask-position: $val;
}

/// Set how mask images are repeated.
@mixin mask-repeat($val) {
    -webkit-mask-repeat: $val;
    mask-repeat: $val;
}
